%p#notice= notice

%p
  %b Subject:
  = @issue.subject
%p
  %b Body:
  = @issue.body
%p
  %b Department:
  = @issue.department
%p
  %b User:
  = @issue.user

= link_to 'Edit', edit_issue_path(@issue)
\|
= link_to 'Back', issues_path
